<link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css">
<script src="/static/js/bootstrap/jquery.min.js"></script>
<script src="/static/js/bootstrap/bootstrap.min.js"></script>

<link rel="stylesheet" href="/static/css/particles.css">
<script src="/static/js/particles.min.js"></script>
<script src="/static/js/particles.js"></script>

<script src="https://arifhamed.com/static/js/font-awesome.js" integrity="sha512-Mizub3M5oexqKMz/zqTjVpAMAQN/URWJVT6FnZGrMTDJRRfexw/K6KoKzDWGzF53rtHw47KHMbGRqcgcEYEnhQ==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://arifhamed.com/static/css/fontawesome.css" integrity="sha512-gMjQeDaELJ0ryCI+FtItusU9MkAifCZcGq789FrzkiM49D8lbDhoaUaIX4ASU187wofMNlgBJ4ckbrXM9sE6Pg==" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="/static/css/site.css">
<script src="/static/js/site.js"></script>

