.disable-selection {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;    
}

video {
max-width: 100%;
height: auto;
}

.despair {
    color:
        aliceblue;
    text-shadow: 
        2px 2px 0 #222, 
        4px 4px 0 #444, 
        6px 6px 0 #666, 
        8px 8px 0 #888, 
        10px 10px 0 #aaa, 
        12px 12px 0 #ccc, 
        14px 14px 0 #eee,
        -2px -2px 0 #222, 
        -4px -4px 0 #444, 
        -6px -6px 0 #666, 
        -8px -8px 0 #888, 
        -10px -10px 0 #aaa, 
        -12px -12px 0 #ccc, 
        -14px -14px 0 #eee
    ;
}

.lag-echo {
    text-shadow: 
    1px 11px 0 #333,
    2px 22px 1 #444,
    3px 33px 2 #555,
    4px 44px 3 #666,
    5px 55px 4 #777,
    6px 66px 5 #888,
    7px 77px 6 #999,
    8px 88px 7 #AAA,
    9px 99px 8 #BBB;
        
}

.abyssal {
    text-shadow:
        5px  10px 0 #333,
        10px 20px 0 #666,
        15px 30px 0 #999,
        20px 40px 0 #ccc
    ;
}

.rotate-10 {
    transform: rotate(-10deg);
    /* Legacy vendor prefixes that you probably don't need... */			
    -webkit-transform: rotate(-10deg); /* Safari */
    -moz-transform: rotate(-10deg); /* Firefox */		
    -ms-transform: rotate(-10deg); /* IE */			
    -o-transform: rotate(-10deg); /* Opera */			
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
}

.rotate-180 {
    transform: rotate(180deg);
    /* Legacy vendor prefixes that you probably don't need... */			
    -webkit-transform: rotate(180deg); /* Safari */
    -moz-transform: rotate(180deg); /* Firefox */		
    -ms-transform: rotate(180deg); /* IE */			
    -o-transform: rotate(180deg); /* Opera */			
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
}

.PageNavigation {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
  }

.PageNavigation a {
display: block;
width: 50%;
float: left;
margin: 1em 0;
}

.timestamp {
    color: #F2F2F2;
    text-shadow: 
        1px 0 #555,
        1px 1px #555,
        0 1px #555,
        -1px 1px #555,
        -1px 0 #555,
        -1px -1px #555,
        0 -1px #555,
        1px -1px #555,
        
        2px 0 #555,
        2px 2px #555,
        0 2px #555,
        -2px 2px #555,
        -2px 0 #555,
        -2px -2px #555,
        0 -2px #555,
        2px -2px #555
        
        
    ;
}

.active-dropdown {
    color: #1e2125;
    background-color: #e9ecef;
}

.caption-middle {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.social-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Style the icon bar links */
.social-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    background: #333;
}

/* Style the social media icons with color, if you want */
.social-bar a:hover {
    background-color: #111;
}

.social-bar a i {
    color: white;
    background: white;
}

.android-icon {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-left: auto;
}
.android-caption {
    background-repeat: no-repeat;
    background-size: fill;
    margin-right: auto;
}