---
title: "ITP Polytechnic"
permalink: /blogs/internship-poly
redirect_from: 
 - /blogs/internship-poly/
 - /blogs/itp-poly
 - /blogs/itp-poly/
 - /internship-poly
 - /internship-poly/
 - /ITP-poly
 - /itp-poly
 - /ITP-poly/
 - /itp-poly/
layout: default
---

{% capture itp-poly-md %}
{% include blogs-itp-poly-inc.md %}
{% endcapture %}
{{ itp-poly-md | markdownify }}

<div class="container" id="itp-poly-days">
    <div class="row row-cols-5">
        {% for post in site.categories.internship-poly reversed %}
            {% if post.title == "Good Friday" %}
                <a class="col btn btn-outline-dark disabled" href="#" aria-disabled="true">Good Friday</a>
            {% elsif post.title == "Labour Day" %}
                <a class="col btn btn-outline-dark disabled" href="#" aria-disabled="true">Labour Day</a>
            {% elsif post.title == "Hari Raya Puasa" %}
                <a class="col btn btn-outline-dark disabled" href="#" aria-disabled="true">Hari Raya Puasa</a>
            {% elsif post.title == "Vesak Day" %}
                <a class="col btn btn-outline-dark disabled" href="#" aria-disabled="true">Vesak Day</a>        
            {% else %}
                <a class="col btn btn-outline-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.date | date: "%-d %B" }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% include comments.html %}