<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

	<link rel="apple-touch-icon" sizes="57x57" href="/static/icon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/icon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/icon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/icon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/icon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/icon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/static/icon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/icon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/icon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/static/icon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/icon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/icon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/icon/favicon-16x16.png">
	<link rel="manifest" href="/static/icon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/static/icon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

    {% include imports.html %}


	{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    {% include header.html %}


    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
	  
		<section id="main_content" class="inner">

			<a class="btn btn-dark w-100" style="background-color:#333;" onclick="history.back()">back to all posts</a>
			

			<h1>{{ page.title }}</h1>
			
			<video muted autoplay loop onclick="this.paused ? this.play() : this.pause();">
				<source src="/static/webm{{ page.url }}.webm" type="video/webm"></source>
				gameplay not available right now
			</video>
			<br>
			<span style="font-size:75%;font-style:italic;">Click to play video, click again to pause</span><br><br>
			{% if page.play-link %}
			Play Store: <a href="{{ page.play-link }}" target="_blank"><i class='fab fa-google-play'></i></a><br>
			{% endif %}
			{% if page.ios-link %}
				App Store: <a href="{{ page.ios-link }}" target="_blank"><i class="fab fa-apple"></i></a><br>
			{% endif %}
			{% if page.steam-link %}
				Steam: <a href="{{ page.steam-link }}" target="_blank"><i class="fab fa-steam"></i></a><br>
			{% endif %}
			{% if page.itch-link %}
				itch.io: <a href="{{ page.itch-link }}" target="_blank"><i class="fab fa-itch-io"></i></a><br>
			{% endif %}
			<!-- {% if page.switch-link %}
				N. Switch: <a href="{{ page.switch-link }}" target="_blank"><i class="fab fa-nintendo-switch"></i></a><br>
			{% endif %} -->
			{{ content }}
			
			{% include comments.html %}
		</section>
    </div>

    <!-- FOOTER  -->
    {% include footer.html %}
  </body>
</html>
