---
title: "This is not a morally legal page"
permalink: /resources/apk_true
layout: default
---

{% capture apk-md %}
{% include resources-apk-inc.md %}
{% endcapture %}
{{ apk-md | markdownify }}

<div class="container px-4">
    <div class="row row-cols-3">
        {% for post in site.posts %}
        {% if post.url contains '/apk' %}
            
            <a class="col btn btn-dark" href="{{ site.baseurl }}{{ post.url }}">
                <!-- {{ post.title }} -->
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <img class="mx-auto d-block" src="/static/images{{ post.url }}-icon.png" style="max-width: 100%; max-height: 100%;">
                        </div>
                        <div class="col">
                            <span class="m-auto d-block">{{ post.title }}</span>
                        </div>
                    </div>
                </div>
                
                
            </a>
        {% endif %}
        {% endfor %}
    </div>
</div>