---
title: "This is not a morally legal page"
permalink: /resources/apk_true
layout: default
---

{% capture apk-md %}
{% include resources-apk-inc.md %}
{% endcapture %}
{{ apk-md | markdownify }}

<!-- <div class="container px-4">
    <div class="row row-cols-3">
        {% for post in site.posts %}
        {% if post.url contains '/apk' %}
            
            <a class="col btn btn-dark" href="{{ site.baseurl }}{{ post.url }}">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <img class="android-icon" src="/static/images{{ post.url }}-icon.png" style="max-width: 100%; max-height: 100%;">
                        </div>
                        <div class="col">
                            <span class="android-caption">{{ post.title }}</span>
                        </div>
                    </div>
                </div>
            </a>
            <div class="col card" style="width: 18rem;">
                <img class="card-img-top" src="/static/images{{ post.url }}-icon.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-dark" style="background:#333;">{{ post.title }}</a>
                </div>
            </div>
        {% endif %}
        {% endfor %}
    </div>
</div> -->

<div class="row">
    {% for post in site.posts %}
    {% if post.url contains '/apk' %}
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <a href="{{site.baseurl}}{{post.url}}"></a><img class="card-img" src="/static/images{{ post.url }}-icon.png" alt="{{ post.title }} icon"></a>
                <!-- <h5 class="card-title">{{ post.title }}</h5> -->
                <h5 class="card-title">{{ post.title }}</h5>
                
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>