---
title: "This is not a morally legal page"
permalink: /resources/apk_true
layout: default
secret: "/resources/apk"
---

{% capture apk-md %}
{% include resources-apk-inc.md %}
{% endcapture %}
{{ apk-md | markdownify }}

<div class="row">
    {% for post in site.posts %}
    {% if post.url contains '/apk' %}
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <a href="{{site.baseurl}}{{post.url}}"><img class="card-img" src="/static/images{{ post.url }}-icon.png" alt="{{ post.title }} icon"></a>
                <!-- <h5 class="card-title">{{ post.title }}</h5> -->
                <h5 class="card-title">{{ post.title }}</h5>
                
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
